# custom error page
ErrorDocument 404 /Error_Pages/404.html

# enable SSI
Options +IncludesNOEXEC
AddOutputFilter INCLUDES .html

# enable expirations
ExpiresActive On

# expire files in the client's cache
ExpiresByType image/ico A604800
ExpiresByType image/gif A604800
ExpiresByType image/png A604800
ExpiresByType image/jpeg A604800
ExpiresByType application/javascript A604800
ExpiresByType text/javascript A604800
ExpiresByType text/css A604800

# redirects
Redirect permanent /about.html       http://ultradefrag.sourceforge.net/index.html?about
Redirect permanent /artgallery.html  http://ultradefrag.sourceforge.net/index.html?artgallery
Redirect permanent /download.html    http://ultradefrag.sourceforge.net/index.html?download
Redirect permanent /logos_web.html   http://ultradefrag.sourceforge.net/index.html?logos_web
Redirect permanent /screenshots.html http://ultradefrag.sourceforge.net/index.html?screenshots
Redirect permanent /wallpapers.html  http://ultradefrag.sourceforge.net/index.html?wallpapers

Redirect permanent /bugs.html        http://sourceforge.net/tracker/?group_id=199532
Redirect permanent /development.html http://ultradefrag.sourceforge.net/doxy-doc/html/index.html
Redirect permanent /faq.html         http://ultradefrag.sourceforge.net/handbook/FAQ.html
Redirect permanent /forum.html       http://sourceforge.net/projects/ultradefrag/forums/
Redirect permanent /manual.html      http://ultradefrag.sourceforge.net/handbook/
Redirect permanent /overview.html    http://ultradefrag.sourceforge.net/handbook/Introduction.html

Redirect permanent /bugs             http://sourceforge.net/tracker/?group_id=199532
Redirect permanent /forum            http://sourceforge.net/projects/ultradefrag/forums/
Redirect permanent /stats            https://apps.sourceforge.net/piwik/ultradefrag/
